<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Twitter Feed Reader Application</display-name>
	<description>
		This is a simple web application to fetch tweets from @salesforce user.
	</description>
	<servlet>
		<servlet-name>TwitterFeedReaderServlet</servlet-name>
		<servlet-class>com.myapp.TwitterFeedReaderController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TwitterFeedReaderServlet</servlet-name>
		<url-pattern>/TwitterFeedReaderServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>    